.vscode/
venv/
.venv/

archive/
models_v7/
nih_AP_check_report/
nih_AP_chest/
padchest_AP_chest/
runs/
outputs/

__pycache__/
.ipynb_checkpoints/

*.keras
*.h5
*.ckpt
*.pt
*.pth
*.log
Thumbs.db
.DS_Store